# Common build outputs
/src/**/*.a
/src/**/*.o
/src/**/*.dll
/src/**/*.exe
/src/**/*.ilk
/src/**/*.lib
/src/**/*.obj
/src/**/*.pdb
/src/**/*.res

# /src/SoundTouch/
/src/SoundTouch/libsoundtouch.a

# /src/au/
/src/au/libau.a
/src/au/MultitapAU
/src/au/MultitapAU-phase1.rsrc
/src/au/MultitapAU.rsrc
/src/au/MultitapAUView
/src/au/MultitapAU.component

# /src/audio/
/src/audio/audiotest
/src/audio/devices
/src/audio/libaudio.a
/src/audio/*.exp

# /src/midi/
/src/midi/*.exp
/src/midi/*.opt
/src/midi/libmidi.a
/src/midi/miditest

# /src/mobius/
/src/mobius/*.exp
/src/mobius/*.rsrc
/src/mobius/.DS_Store
/src/mobius/libui.a
/src/mobius/libmobius.a
/src/mobius/expr
/src/mobius/mobiusvst
/src/mobius/mobius
/src/mobius/AUMobius
/src/mobius/save
/src/mobius/temp
/src/mobius/mobius-install
/src/mobius/mobius-install*.dmg

# /src/mobius/functions/
/src/mobius/functions/mobiusfunc.a

# /src/mobius/mac/bundles/
/src/mobius/mac/bundles/.DS_Store
/src/mobius/mac/bundles/Mobius.app
/src/mobius/mac/bundles/Mobius.vst
/src/mobius/mac/bundles/Mobius.component

# /src/mobius/mac/xcode/auval/
/src/mobius/mac/xcode/auval/build

# /src/mobius/mac/xcode/mobius/
/src/mobius/mac/xcode/mobius/build

# /src/osc/
/src/osc/libosc.a
/src/osc/osctest
/src/osc/*.exp

# /src/osc/oscpack/
/src/osc/oscpack/liboscpack.a
/src/osc/oscpack/oscdump

# /src/qwin/
/src/qwin/*.sln
/src/qwin/*.suo
/src/qwin/*.exp
/src/qwin/*.RES
/src/qwin/*.opt
/src/qwin/libqwin.a
/src/qwin/mactest
/src/qwin/qwintest
/src/qwin/.DS_Store

# /src/qwin/bundle/mactest.app/Contents/MacOS/
/src/qwin/bundle/mactest.app/Contents/MacOS/mactest

# /src/qwin/bundle/qwintest.app/Contents/MacOS/
/src/qwin/bundle/qwintest.app/Contents/MacOS/qwintest

# /src/qwin/bundle/qwintest.app/Contents/Resources/
/src/qwin/bundle/qwintest.app/Contents/Resources/*.icns

# /src/util/
/src/util/*.exp
/src/util/doc2html
/src/util/threadtest
/src/util/utiltest
/src/util/wavtest
/src/util/xomtest

# /src/vst/2.4/
/src/vst/2.4/libvst.a
/src/vst/2.4/again
/src/vst/2.4/bundles
/.vs
